@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem solid #eaeaea;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.logInButton {
  display: inline-block;
  padding: 0.2rem 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 40px;
  background-color: #cc1f0c;
  color: white;
}
.signUpButton {
  display: inline-block;
  padding: 0.2rem 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 30px;
  background-color: #eaeaea;
}

header input {
  border-radius: 40px;
  background-color: #eaeaea;
  border: 0;
  width: 24rem;
}
h1 {
  padding-right: 14rem;
}
/*nav finish*/

.bigMealNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

nav img {
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.foodType {
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #757575;
  margin-top: 1rem;
  padding-bottom: 2rem;
}
.ratingsNav {
  display: flex;
  justify-content: center;
  border-bottom: 0.2rem solid #eaeaea;
  margin-bottom: 1rem;
  margin-left: 30%;
  margin-right: 30%;
}
.rating {
  padding: 2rem;
  border-right: 0.2rem solid #eaeaea;
}
.ratingsNav {
  padding: 2rem;
}
.ingredients {
  padding: 2rem;
  border-left: 0.2rem solid #eaeaea;
}

.ingredients p {
  padding-left: 2rem;
  font-weight: bold;
  font-size: 2.5rem;
}

.ratingsNav img {
  padding: 2rem;
}

/*FOOTER*/
.footerJob {
  display: flex;
  width: 100%;
  background-color: #eeee;
  padding: 5rem;
  padding-bottom: 1rem;
  bottom: 0;
  left: 0;
  justify-content: space-between;
  border-bottom: 0.2rem solid #eaeaea;
  right: 3rem;
}

.appStorelogo img {
  padding-top: 1.5rem;
}

div h2 {
  padding-bottom: 2rem;
}

p {
  padding-bottom: 1rem;
}

.downText {
  display: flex;
  width: 100%;
  background-color: #eeee;
  padding: 1rem;
  bottom: 0;
  left: 0;
  justify-content: center;
  font-size: 0.7rem;
}

.downText p {
  color: #757575;
}

/*main*/

main {
  margin: calc((100vh / 25) * 1.563) calc((100vw / 25) * 1.563);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding-top: 2rem;
}

.templates {
  position: relative;
  margin-bottom: 3rem;
  margin-right: 0rem;
}

.place_for_template img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  display: block;
  margin-left: 1rem;
}

.templates {
  transition: all 0.2s ease-in-out;
}

.templates:hover {
  transform: scale(1.1);
}

article h2 {
  position: absolute;
  left: 20%;
  top: 70%;
}

article h2 {
  font-size: 1rem;
  font-family: Iron;
  color: black;
}
